platform-builder/src/PlatformBuilder.Abstractions/bin/
platform-builder/src/PlatformBuilder.Abstractions/obj/
platform-builder/src/PlatformBuilder.ApiAbstractions/bin/
platform-builder/src/PlatformBuilder.ApiAbstractions/obj/
platform-builder/src/PlatformBuilder.Api/bin/
platform-builder/src/PlatformBuilder.Api/obj/
platform-builder/src/PlatformBuilder.Core/bin/
platform-builder/src/PlatformBuilder.Core/obj/
platform-builder/src/PlatformBuilder.Infrastructure/bin/
platform-builder/src/PlatformBuilder.Infrastructure/obj/
platform-builder/src/PlatformBuilder.IoC/bin/
platform-builder/src/PlatformBuilder.IoC/obj/
platform-builder/src/PlatformBuilder.AwsApi/bin/
platform-builder/src/PlatformBuilder.AwsApi/obj/*
platform-builder/src/PlatformBuilder.Migrator/bin/
platform-builder/src/PlatformBuilder.Migrator/obj/
platform-builder/src/PlatformBuilder.Extensions/bin/
platform-builder/src/PlatformBuilder.Extensions/obj/
platform-builder/tests/PlatformBuilder.IntegrationTests/bin/
platform-builder/tests/PlatformBuilder.IntegrationTests/obj/
platform-builder/tests/PlatformBuilder.UnitTests/bin/
platform-builder/tests/PlatformBuilder.UnitTests/obj/
platform-builder/.vs/
*.dll
*.pdb
*.cache
*.manifest
*.testlog
*/**/bin/Debug
*/**/bin/Release
*/**/obj/Debug
*/**/obj/Release
NetCore.Loopie/src/NetCore.Loopie.Extensions/obj/
NetCore.Loopie/src/NetCore.Loopie.Extensions/obj/
NetCore.Loopie/src/NetCore.Loopie.AwsApi/aws-ecs-tools-defaults.json
